<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>130</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>310</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>490</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>670</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
    <dict>
		<key>x</key> 
                <integer>200</integer>
		<key>y</key>
                <integer>250</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>390</integer>
		<key>y</key>
                <integer>250</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>560</integer>
		<key>y</key>
                <integer>250</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>740</integer>
		<key>y</key>
                <integer>250</integer>
	</dict>
    <dict>
		<key>x</key> 
                <integer>160</integer>
		<key>y</key>
                <integer>70</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>340</integer>
		<key>y</key>
                <integer>70</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>520</integer>
		<key>y</key>
                <integer>70</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>700</integer>
		<key>y</key>
                <integer>70</integer>
	</dict>
</array>
</plist>
