<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>147</integer>
		<key>y</key>
                <integer>130</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>363</integer>
		<key>y</key>
                <integer>130</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>660</integer>
		<key>y</key>
                <integer>130</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>180</integer>
		<key>y</key>
                <integer>290</integer>
	</dict>
    <dict>
		<key>x</key> 
                <integer>453</integer>
		<key>y</key>
                <integer>290</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>140</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>310</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>480</integer>
		<key>y</key>
                <integer>440</integer>
	</dict>

</array>
</plist>
